/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*!*.App-header {*!*/
/*!*  background-color: #282c34;*!*/
/*!*  min-height: 100vh;*!*/
/*!*  display: flex;*!*/
/*!*  flex-direction: column;*!*/
/*!*  align-items: center;*!*/
/*!*  justify-content: center;*!*/
/*!*  font-size: calc(10px + 2vmin);*!*/
/*!*  color: white;*!*/
/*!*}*!*/

/*!*.App-link {*!*/
/*!*  color: #61dafb;*!*/
/*!*}*!*/

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

.App section {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*.full-screen {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 100px);*/
/*}*/

.full-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "nine-thousand nine-thousand nine-thousand nine-thousand"
    "Screen Screen Screen Screen"
    "number number number operation"
    "number number number operation"
    "number number number operation"
    "number number number operation"
    "equal equal equal operation";
    height: 561px;
    width: 30%;
    background-color: #0e0e0e;
}

.Screen {
    grid-area: Screen;
    background-color: black;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 2.5em;
    color: #00ff9b;
}

.nine-thousand {
    grid-area: nine-thousand;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-weight: 700;
    font-size: 1.5em;
}

.number {
    grid-area: number;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operation {
    grid-area: operation;
}

.equal { grid-area: equal; }




.number-btn {
    width: 33%;
    height: 80px;
    border-style: none;
    /*border: 1px solid darkslategrey;*/
    background-color: #0e0e0e;
    color: #00ff9b;
    font-size: 1.5em;
    transition: all 0.2s ease-in-out;
}
.number-btn:hover {
    background-color: #02ab6d;
    color: white;
    cursor: pointer;
    font-weight: 900;
}



.operation-btn {
    background-color: #02ab6d;
    border-style: none;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 2em;
    transition: all 0.2s ease-in-out;
}

.operation-btn:hover {
    background-color: #0e0e0e;
    color: #00ff9b;
    cursor: pointer;
}



.equal-btn {
    width: 100%;
    height: 80px;
    background-color: #02ab6d;
    border-style: none;
    font-size: 3em;
    color: white;
    transition: all 0.2s ease-in-out;
}

.equal-btn:hover {
    background-color: white;
    color: #02ab6d;
    cursor: pointer;
}

/*!*.test-button {*!*/
/*!*  margin-top: 900px;*!*/
/*!*}*!*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
